@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@700&display=swap');

body { 
    margin: 0px;
    padding: 0px;  
}

div {
    box-sizing: border-box;   
}

img {
  display: block;
  max-width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: solid ;
    border-color: #ffffff33;
    padding: 30px;
    background-color:#1a1a1a;
}

.header > button {
    border: none;
    background: none;
}

.container {
    width: 100%;
    margin: 0 auto;

}

.Headphone {
    background-color:#1a1a1a;
    background-image: url("./assets/home/mobile/image-header.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.websiteMenu__menuList {
    display: none;
}

.textPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
}

.textPart__definition {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff78;
    letter-spacing: 5px;
}

.textPart__productName {
    font-size: 38px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.textPart__productDescription {
    text-align: center;
    color:#ffffffba;
    margin-bottom: 20px;
}

.textPart__buttonSeeProduct {
    padding: 15px  25px;
    font-family: 'Kumbh Sans', sans-serif ;
    background-color: rgb(217 125 74);
    color: white;
    border: none;
    text-transform: uppercase;
    
}

.item__photo {
    width: 40%;
    position: absolute;
    top: -28%;
   
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 15px;
    background-color: rgb(238 238 238);
    margin: 50px 0px;
    border-radius: 10px;
    position: relative;
}

.item__name {
    width: 100%;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.item__button {
    display: flex;
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 0px;
}


.HeadphonesSpeakersEarphones {
    padding: 20px;
}

.item__productLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__button > span {
    margin-right: 10px;
}

.speaker__photo {
    width: 60%;
    margin-bottom: 30px;
    
}

.speaker__zx9speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217 125 74) ;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./assets/home/desktop/pattern-circles.svg);
    background-position: center 300%;
    background-repeat: no-repeat;
    background-size: 167%;
}

.speaker__name {
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin: 0px;
}

.speaker__productDescription {
    text-align: center;
    color:#ffffffba;
    margin-bottom: 20px;

}


.speaker__buttonSeeProduct {
    padding: 15px  25px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: 'Kumbh Sans', sans-serif;


}